---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RAFAEL HIRASHIKI's Implemented Features and other metrics">
  <div
    class="relative z-50 col-start-2 col-span-10 max-sm:col-start-3 max-sm:col-span-9"
  >
    <h2 class="italic text-2xl clr-brand-orange">Performance & Results</h2>
    <p>
      Here are some examples of how my work reduced manual effort, improved
      system efficiency, and saved developer time.
    </p>
    
    <p class="mt-8">Under Construction</p>
  </div>
</Layout>
