---
import Layout from "../layouts/Layout.astro";
---

<style>
    ul li {
        /* background-color: var(--clr-bg);
        color: white; */
        border: 4px solid var(--clr-bg);
        color: var(--clr-bg);
    }
</style>

<Layout title="RAFAEL HIRASHIKI's Implemented Features and other metrics">
  <div
    class="relative z-50 col-start-2 col-span-10 max-sm:col-start-3 max-sm:col-span-9"
  >
    <h2 class="italic text-2xl clr-brand-orange pb-8">Solutions</h2>

    <ul class="grid grid-cols-2 gap-8">
      <li class="w-full shadow-lg p-4 rounded-lg ">
        <a href="" class="flex flex-col gap-4">
          <h3 class="text-3xl">Personal Achievements Track System</h3>
          <p>Under construction. More info by mid October 2025</p>
        </a>
      </li>
      <li class="w-full shadow-lg p-4 rounded-lg ">
        <a href="" class="flex flex-col gap-4">
          <h3 class="text-3xl">A3 Workflow Automation System</h3>
          <p class="mt-auto">Under construction. More info by mid October 2025</p>
        </a>
      </li>
      <li class="w-full shadow-lg p-4 rounded-lg ">
        <a href="/solution_stwstw" class="flex flex-col gap-4">
          <h3 class="text-3xl">Wild Reports System</h3>
          <p>Under construction. More info by the end October 2025</p>
        </a>
      </li>
      <li class="w-full shadow-lg p-4 rounded-lg ">
        <a href="/solution_kat" class="flex flex-col gap-4">
          <h3 class="text-3xl">Website with CloudCannon CMS</h3>
        </a>
      </li>
    </ul>
  </div>
</Layout>
