---
interface Props {
  text?: string;
  index?: boolean;
}

const { text, index } = Astro.props;
---

<h1
  class:list={[
    index
      ? "text-5xl max-lg:text-4xl max-md:text-3xl font-bold"
      : "text-3xl max-lg:text-xl max-md:text-lg font-bold max-xl:text-2xl m-auto ",
  ]}
>
  {text}
</h1>
