---
interface Props {
  text?: string;
  road?: boolean;
}

const { text, road } = Astro.props;
---

<h2 class:list={[road ? "absolute top-16 left-8 text-3xl font-bold mb-12" : "absolute top-0"]}>
  {text}
</h2>
