---
import H2ProjectTitle from "./H2project-title.astro";
const { project, projectTitle } = Astro.props;
---

<div class="relative col-start-2 col-span-10 h-fit">
  <H2ProjectTitle
    text={project?.data.projectTitle || projectTitle}
    class="italic text-2xl font-bold clr-brand-blue"
  />
  <p class="py-4">
    {project?.data.projectSubtitle}
  </p>
</div>
