---
import Layout from "../layouts/Layout.astro";
import ProjectLayoutLinks from "./ProjectLayout-Links.astro";
import Card from "./Card.astro";

const icons = false;
const { projects } = Astro.props;
---

<Layout title="RAFAEL HIRASHIKI's Portfolio Project">
  <ProjectLayoutLinks project={icons} />
  <div
    class="relative z-50 col-start-2 col-span-10 max-sm:col-start-3 max-sm:col-span-9"
  >
    <p class="italic text-2xl clr-brand-orange">Works at Agendae+</p>
    {projects.map((project: any, i: any) => <Card project={project} i={i} />)}
  </div>
</Layout>
