---
import { Image } from "astro:assets";

const { url  } = Astro.props;
---

<a href={url} class="flex flex-col items-center w-fit" target="_blank">
  <i class="fa-solid fa-arrow-up-right-from-square url-logo-black"></i>
  <p>Project</p>
</a>
