---
import { Image } from "astro:assets";

const { url } = Astro.props;
---

<a href={url} class="flex flex-col items-center w-fit" target="_blank">
  <Image
    src="/Images/logo_figma.svg"
    width={144}
    height={213}
    format="svg"
    alt="figma logo"
    class="url-logo-black"
  />
  <p>Figma</p>
</a>
