<style>
  .fa-brands {
    font-size: 50px;
  }
  .v-bar,
  .h-bar {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: var(--clr-bg);
  }
  .v-bar {
    width: 3px;
    height: 100%;
    animation: animateVertical 0.5s 1 ease-out;
  }
  .h-bar {
    width: 100%;
    height: 3px;
    animation: animateHorizontal 0.5s 1 ease-out;
  }

  .star {
    position: absolute;
    width: 20px;
  }
  .star-btm {
    bottom: -8px;
  }
  .star-top {
    top: -30px;
  }

  .star-right {
    right: 2px;
  }

  .star-left {
    left: -40px;
  }

  @keyframes animateVertical {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  @keyframes animateHorizontal {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>

<div class="relative col-start-3 col-span-9">
  <slot />

  <div class="absolute h-2/3 w-10/12 -bottom-4 -right-16 -z-10">
    <img src="/Images/shape-square.svg" class="star star-top star-right" />
    <div class="v-bar"></div>
    <div class="h-bar"></div>
    <img src="/Images/shape-square.svg" class="star star-btm star-left" />
    <img src="/Images/shape-square.svg" class="star star-btm star-right" />
  </div>
</div>
