---
import { Image } from "astro:assets";
import ProjectGithubIcon from "./ProjectGithubIcon.astro";
import ProjectLinkedin from "./ProjectLinkedin.astro";
import ProjectEmailIcon from "./ProjectEmailIcon.astro";
import ContactIcons from "./ContactIcons.astro";
const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
  <Image
    src="/images/rafa.png"
    width={450}
    height={450}
    format="webp"
    alt="Japanese looking guy from Brazil wearing stylish clothes"
    class="rounded-2x1 aspect-thumbnail object-cover rounded-full m-auto"
  />
  <ContactIcons classp={"text-center"} class={"justify-center"} />
</div>
